<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= select_tag :sub_category_id, options_for_select([["Select Sub_category", ""]] + Sub_category.all.map {|c| [c.name, c.id]}), :onchange => 'select_file(this.value)' %>
</div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>